@import "common.css";

#carousel {
    background-color: #d3e8f3aa;
    backdrop-filter: blur(7px);
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: row;

    overflow-y: scroll;
    scroll-behavior: smooth;

    /* hide scrollbars but keep their functionality */
    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-snap-type: x proximity;
}

#carousel::-webkit-scrollbar {
    display: none;
}

#carousel > .carousel-card > .carousel-content {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    overflow-y: hidden;
    flex: 1;
}

#carousel > .carousel-card > .carousel-content > .carousel-content-text {
    text-align: left;
}

#carousel > .carousel-card > .carousel-content > .carousel-content-header {
    text-align: center;
    font-weight: 700;
    font-size: 25pt;

    margin-bottom: 0.75rem;
}

#carousel > .carousel-card > .carousel-content > .carousel-content-divider {
    height: 5px;
    background-color: #cdcdcd;
    border-radius: 50px;

    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 1rem;
}

#carousel > .carousel-card > .carousel-content-img {
    align-self: center;

    border: 2px solid #D9D9D9;
    box-shadow: 2px 3.5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

#carousel > .carousel-card > .carousel-content-img.img-left {
    margin-left: 2rem;
}

#carousel > .carousel-card > .carousel-content-img.img-right {
    margin-right: 2rem;
}

#carousel > .carousel-card {
    min-width: 60vw;
    max-width: 60vw;
    height: 80%;

    align-self: center;
    text-align: center;

    flex: 1;

    background-color: white;

    border: 3px solid #FEFBF6;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    scroll-snap-align: center;

    display: flex;
    flex-direction: row;

    transition: all 500ms;
}

#carousel > .carousel-card:first-of-type {
    margin-left: 20vw;
}

#carousel > .carousel-card:last-of-type {
    margin-right: 20vw;
}

#carousel > .carousel-separator {
    margin-left: calc(2.5vw - 5px);
    margin-right: calc(2.5vw - 5px);

    min-width: 10px;
    height: 40%;
    align-self: center;

    background-color: white;

    border: 1px solid #D9D9D9;
    border-radius: 50px;
    /* min-width: 5vw; */
}

#bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 3rem;
}

#bottom-buttons > * {
    text-align: center;
    align-self: center;
    
    background-color: #fff;

    border: 3px solid #D9D9D9;
    border-radius: 30px;
    font-size: 15pt;

    padding: 1rem;
    width: 35vw;

    cursor: pointer;
    user-select: none;

    text-decoration: none;
    color: inherit;

    transition: background-color 200ms;
}

#bottom-buttons > *:hover {
    background-color: #eee;
}

#blog > h1 {
    text-align: center;
    margin-bottom: 3rem;
}

#blog > #blog-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

#blog > #blog-cards > .blog-card {
    padding: 1.5rem;

    background-color: #FFFFFF;
    border: 3px solid #D9D9D9;

    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    user-select: none;
    transition: all 300ms;
}

#blog > #blog-cards > .blog-card:hover {
    background-color: #f6f6f6;
    cursor: pointer;

    box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

#blog > #blog-cards > .blog-card > .blog-card-header {
    font-weight: 700;
    font-size: 20pt;
    text-align: center;

    margin-bottom: 0.75rem;
}

#blog > #blog-cards > .blog-card > .blog-card-divider {
    height: 5px;
    background-color: #cdcdcd;
    border-radius: 50px;

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0.75rem;
}

#content {
    padding-left: 10rem;
    padding-right: 10rem;
}

#footer {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;

    background: rgba(255, 255, 255, 0.25);

    border-top: 3px solid #D9D9D9;
    backdrop-filter: blur(10px);
    
    border-radius: 50px;    
}

@media (max-width: 1024px) {
    #bottom-buttons {
        display: flex;
    }

    #content {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    #carousel > .carousel-card {
        min-width: 75vw;
        max-width: 75vw;
    }

    #carousel > .carousel-card:first-of-type {
        margin-left: 10vw;
    }

    #carousel > .carousel-card:last-of-type {
        margin-right: 10vw;
    }
    
    #carousel > .carousel-card > .carousel-content > .carousel-content-header {
        font-size: 18pt;
    }
}

@media (max-width: 768px) {
    #bottom-buttons {
        gap: 1.5rem;
        margin-top: 3rem;
    }

    #bottom-buttons > * {
        font-size: 16pt;
        width: 70%;
    }

    #blog > #blog-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #carousel > .carousel-separator {
        min-width: 0px;

        margin-left: 7.5vw;
        margin-right: 7.5vw;

        background-color: none;
        border: none;
        border-radius: none;
    }

    #carousel > .carousel-card {
        min-width: 90vw;
    }
    
    #carousel > .carousel-card > .carousel-content-img {
        display: none;
    }

    #carousel > .carousel-card > .carousel-content > .carousel-content-header {
        font-size: 15pt;
    }

    #carousel > .carousel-card > .carousel-content > .carousel-content-divider {
        display: none;
    }
}

@media (max-width: 640px) {
    #content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}