/* poppins go br */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html, body {
    padding: 0; margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#bg {
    position: absolute;
    z-index: -10;
    background-size: cover;
}

#header {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    width: calc(100vw - 7rem);
    padding: 1.25rem;
    background: rgba(255, 255, 255, 0.2);

    border: 3px solid #D9D9D9;
    backdrop-filter: blur(7px);

    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 100;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}

#header > #header-items {
    display: flex;
    flex-direction: row;

    gap: 1.5rem;
}

#header > #header-items > a {
    padding: 0.75rem;
    text-align: center;
    align-self: center;

    text-decoration: none;
    color: inherit;

    cursor: pointer;

    border-radius: 30px;
    transition: background-color 300ms;
}

#header > #header-items > a:hover {
    background-color: #0000000f;
}

#carousel {
    background-color: #d3e8f3aa;
    backdrop-filter: blur(7px);
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: row;

    overflow-y: scroll;
    scroll-behavior: smooth;

    /* hide scrollbars but keep their functionality */
    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-snap-type: x proximity;
}

#carousel::-webkit-scrollbar {
    display: none;
}

#carousel > .carousel-card {
    min-width: 60vw;
    max-width: 60vw;
    height: 80%;

    align-self: center;
    text-align: center;

    flex: 1;

    background-color: white;

    border: 3px solid #FEFBF6;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    scroll-snap-align: center;
}

#carousel > .carousel-card:first-of-type {
    margin-left: 20vw;
}

#carousel > .carousel-card:last-of-type {
    margin-right: 20vw;
}

#carousel > .carousel-separator {
    margin-left: calc(2.5vw - 5px);
    margin-right: calc(2.5vw - 5px);

    min-width: 10px;
    height: 40%;
    align-self: center;

    background-color: white;

    border: 1px solid #D9D9D9;
    border-radius: 50px;
    /* min-width: 5vw; */
}

#bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 7.5rem;

    margin-bottom: 3rem;
}

#bottom-buttons > * {
    text-align: center;
    background-color: #fff;

    border: 3px solid #D9D9D9;
    border-radius: 30px;
    font-size: 20px;

    padding: 1rem;
    flex: 1;

    cursor: pointer;
    user-select: none;

    text-decoration: none;
    color: inherit;

    transition: background-color 200ms;
}

#bottom-buttons > *:hover {
    background-color: #eee;
}

#blog > h1 {
    text-align: center;
    margin-bottom: 3rem;
}

#blog > #blog-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

#blog > #blog-cards > .blog-card {
    padding: 1.5rem;

    background-color: #FFFFFF;
    border: 3px solid #D9D9D9;

    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    user-select: none;
    transition: all 300ms;
}

#blog > #blog-cards > .blog-card:hover {
    background-color: #f6f6f6;
    cursor: pointer;

    box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

#blog > #blog-cards > .blog-card > .blog-card-header {
    font-weight: 700;
    font-size: 20pt;
    text-align: center;

    margin-bottom: 0.75rem;
}

#blog > #blog-cards > .blog-card > .blog-card-divider {
    height: 5px;
    background-color: #cdcdcd;
    border-radius: 50px;

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0.75rem;
}

#content {
    padding-left: 10rem;
    padding-right: 10rem;
}

#footer {
    margin-top: 3rem;
    min-height: 30rem;

    background: rgba(255, 255, 255, 0.25);

    border-top: 3px solid #D9D9D9;
    backdrop-filter: blur(10px);
    
    border-radius: 50px;    
}

#main {
    width: 100%;
    background-image: url(./dec-bg.svg);
    background-position: center;
    background-repeat: repeat;
}